* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    width: 90%;
    margin: auto;
}

.content {
    padding: 7px 55px;
    display: flex;
    align-items: center;
    background: rgb(180, 167, 167);
}

.image {
    width: 20%;
    height: 100%;
}

.content ul {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0 10px;
    text-align: center;
    white-space: nowrap;
    font-size: large;
    color: rgba(92, 1, 145, 0.966);
    font-weight: bold;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    padding: 10px 100px;
    height: 80vh;
}

.title {
    font-size: 48px;
    margin: 0 auto;
    font-family: serif;
}

button {
    background: rgb(255, 219, 171);
    border: 1px solid rgb(255, 219, 171);
    border-radius: 20px;
    padding: 15px 20px;
    margin-top: 20px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container2 {
    width: 90%;
    margin: auto;
}

.content2 {
    padding: 10px 100px;
    display: flex;
    align-items: center;
    background: rgb(230, 255, 253);
}

.content2 ul {
    display: flex;
    gap: 15px;
    align-items: center;
    color: rgba(128, 1, 145, 0.733);
    font-weight: bold;
}